*,::after,::before{
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    margin: 50px 100px;
}

/*HEADER*/

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*SEARCH BAR*/

#search_section{
    margin-bottom: 50px;
}

.search_bar{
    width: 100%;
    height: 60px;
    margin: 20px 0;
    padding: 20px;
    background-color: #e7e7e7;
    border-radius: 5px;
    border: none;
}

::placeholder{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: black;
    opacity: 0.25;
}

.search_container{
    position: relative;
}

.search_container i{
    position: absolute;
    top: 35%;
    right: 20px;
    font-size: 30px;
}

/*FILTER BUTTON*/

.drop_section{
    display: flex;
    gap: 20px;
}

.drop_section details{
    width: 170px;
    border-radius: 5px;
    position: relative;
    padding: 15px;
    cursor: pointer;
    border: none;
}

#dropdown_ingredient, .ingredient_color{
    background: #3282f7;
}

#dropdown_appliance, .appliance_color{
    background: #68d9a4;
}

#dropdown_ustensil, .ustensil_color{
    background: #ed6454;
}

.drop_section details summary{
    align-items: center;
    display: flex;
    height: 35px;
    justify-content: space-between;
    line-height: 35px;
    width: 130px;
    font-weight: 500;
    text-align: center;
    color: white;
}

.drop_section details summary svg{
    transition: 400ms ease-in-out;
    position: absolute;
    right: 15px;
}

.drop_section details[open]{
    width: 560px;
}

.drop_section details[open] > summary{
    width: 560px;
}

.drop_section details[open] > summary svg{
    z-index: 2;
    transform: rotate(180deg);
    transition: 400ms ease-in-out;
}

.filters_tags_area_input{
    border-radius: 5px 5px 0 0;
    left: 0;
    width: 560px;
    z-index: 1;
    position: absolute;
    top: 0;
    padding: 15px;
    outline: none;
    color: white;
    border: none;
}

.filters_tags_area_input::placeholder{
    color: white;
    font-weight: 700;
    opacity: 0.5;
}

.drop_section ul{
    border-radius: 0 0 5px 5px;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    font-weight: 400;
    left: 0;
    max-height: 352px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1.25rem;
    position: absolute;
    width: 100%;
    top:45px;
    z-index: 1;
}

.drop_section li{
    list-style-type: none;
    padding-right: 1.8rem;
    color:#ffffff;
    margin-bottom: 5px;

}

.drop_section ul li:hover {
    padding-right: 2.5rem;
}

/* DROPDOWN TAGS */

.tag_field{
    display: flex;
    gap: 15px;
}

.tag{ 
    display: block;
    color: white;
    border-radius: 5px;
    width: 150px;
    padding: 5px 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag_close{
    cursor: pointer;
}

/*RECIPES GALLERY*/

#recipes_gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.recipe_card{
    width: calc((100% / 3) - (100px / 3));
    height: 383px;
    background: #e7e7e7;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    color: black;
}

.card_image{
    height: 183px;
    background: #c7bebe;
    border-radius: 5px 5px 0px 0px;
}

.card_description{
    height: 200px;
    padding: 20px;  
}

.recipe_head{
    display: flex;
    justify-content: space-between;
    font-size: small;  
}

.recipe_title{
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
}

.recipe_time{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    font-weight: 700;
}

.recipe_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    font-size: 0.9rem;
}

.recipe_steps{
    text-overflow: ellipsis;
    overflow: hidden;
}

.recipe_ingredients{
    margin: 0;
}

.ingredient_name{
    font-weight: bold;
}

.hidden{
    display: none;
}

/*ERROR MESSAGE*/

.error{
    font-weight: 600;
    color: red;
    margin: auto;
}